body {
  background-image: linear-gradient(#cce6ff,#0066cc);
}
a {
  color: #ffffff

}
a:hover {
    background-color: #B0AEAF;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
   color: #46B1D0;
    font-size: 40px;
    font-style:normal;
    font-weight: lighter;
    text-decoration:underline overline dotted white;
  }
  img {
     padding:1px;
     border:1px solid #021a40;
     background-color:#ff0;
  }
  .intro {
      border: 5px solid yellow;
